body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.5%;
}
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding-left: 6.8%;
}
nav ul li a{
  position: relative;
  color: #777777;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: .9em;
  letter-spacing: .07em;
}
nav ul li a:hover {
  color: #000;
}
nav ul li a:hover::before { 
  content: url('../img/hover.png');
  position: absolute;
  bottom: .8vh;
  left: -2.5vw;
}
.nav {
  width: 46%;
  padding-right: 7%;
  padding-top: 1.5%;
} 
.nav-logo {
  background: url('../img/logo.png');
  background-repeat: no-repeat;
  width: 15vw;
  height: 6vh;
  margin-top: 2%;
  margin-left: 7.8%;
}
.header {
  height: 53vh;
  background-color:#F0F0F2;
  display: flex;
  justify-content: space-between;
}
.heading{
  text-transform: uppercase;
  padding-top: 5.5%;
  padding-left: 7.8%;
}
.heading h2 {
  font-size: 3em;
  background-color: #000;
  color: #FFFFFF;
  font-weight: 300;
  padding: 0 .72em;
  letter-spacing: .1em;
}
.heading h3 {
  font-weight: 300;
  letter-spacing: .35em;
}
.heading-logo {
  background: url('../img/note.jpg');
  width: 25vw;
}
.history {
  padding: 5% 7.5% 0 7.5%;
  height: 100vh;
  display: flex;
  background-color: #FAFAFA;
  font-family: 'Lato', sans-serif;
}
.history h3 {
  margin-top: .5em;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: .35em;
  font-family: 'Roboto', sans-serif;
}
.history-logo img {
  width: 39vw;
  height: 92vh;
}
.main-story {
  width: 40vw;
  padding-left: 4.5%;
}
.story p {
  padding: 2vh 0;
  line-height: 2em;
  font-size: .9em;
}
.skills-rate {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
}
.skills-rate label {
  margin: .09vh 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  letter-spacing: .03em;
}
.skills-rate input {
  margin: 2.7vh 0;
  position: relative;
}
.skills-rate input {
  -webkit-appearance: none;
  width: 40.5vw;
  height: .7em;
  background-color: #EBEBEB;
  outline: none;
}
.skills-rate input::after {
  content: attr(value)"%";
  color: #FFF;
  font-size: .9em;
  font-family: 'Lato', sans-serif;
  background-color: #041608;
  padding: .3em .7em;
  position: absolute;
}
.skills-rate input::before {
  content: '';
  position: absolute;
  width: 0; 
  height: 0; 
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;  
  border-left: 6px solid #041608;
}
.skills-rate input::-webkit-slider-runnable-track {
  position: absolute;
  background-color: #A1A1A1;
}
.skills-rate input::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #EBEBEB url('../img/scroll.jpg');
  position: absolute;
  width: 12px;
  height: 12px;
}
#photoshop::after {
  position: relative;
  bottom: 5vh;
  right: 4.2vw;
}
#photoshop::before {
  position: absolute;
  bottom: 2.7vh;
  right: 6.7vw;
}
#photoshop::-webkit-slider-runnable-track {
  width: 33vw;
  height: 2px;
}
#photoshop::-webkit-slider-thumb {
  right: -.8vw;
  bottom: -.6vh;
}
#branding::after {
  position: relative;
  bottom: 5vh;
  right: 2.3vw;
}
#branding::before {
  position: absolute;
  bottom: 2.7vh;
  right: 4.8vw;
}
#branding::-webkit-slider-runnable-track {
  width: 35vw;
  height: 2px;
}
#branding::-webkit-slider-thumb {
  right: -.8vw;
  bottom: -.7vh;
}
#photography::after {
  position: relative;
  bottom: 5vh;
  right: 18.9vw;
}
#photography::before {
  position: absolute;
  bottom: 2.7vh;
  right: 21.4vw;
}
#photography::-webkit-slider-runnable-track {
  width: 18.4vw;
  height: 2px;
}
#photography::-webkit-slider-thumb {
  right: -.8vw;
  bottom: -.6vh;
}
#web-design::after {
  position: relative;
  bottom: 5vh;
  right: 6vw;
}
#web-design::before {
  position: absolute;
  bottom: 2.7vh;
  right: 8.5vw;
}
#web-design::-webkit-slider-runnable-track {
  width: 31.3vw;
  height: 2px;
}
#web-design::-webkit-slider-thumb {
  right: -.8vw;
  bottom: -.6vh;
}
.team {
  margin: 0;
  height: 145vh;  
  background-color: #FAFAFA;
  font-family: 'Lato', sans-serif;
  font-size: .9em;
  font-weight: 600;
  border-bottom: .3em solid #F2F2F2;
}
.team-about {
  margin: 0 auto;
  text-align: center;
  width: 46vw;
  line-height: 5vh;
  letter-spacing: .02em;
}
.team-about h2 {
  margin: 0;
  padding: 6.5vh 0 1.5vh 0;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2em;
  letter-spacing: .45em;
}
.team-cards {
  margin-top: 9vh;
  display: flex;
  justify-content: space-around;
  padding: 0 7%;
}
.card {
  width: 26vw;
}
.card-one-logo {
  background: #EEEEEE url('../img/lian.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: bottom;
  width: 100%;
  height: 66.5vh;
}
.card-two-logo {
  background: #EEEEEE url('../img/albert.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: bottom;
  width: 100%;
  height: 66.5vh;
}
.card-three-logo {
  background: #EEEEEE url('../img/jenn.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: bottom;
  width: 100%;
  height: 66.5vh;
}
.card-text {
  padding: 2.2vw;
  padding-bottom: 1.8vw;
  color: #777777;
  background-color: #FFFFFF;
}
.card-text h3 {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  color: #000;
}
.card-text h4 {
  margin: 1vh 0;
  font-weight: 900;
  letter-spacing: .1em;
}
.card-description p {
  font-family: 'Lato', sans-serif;
  font-size: .9em;
  line-height: 2em;
  padding-bottom: 0;
  margin-bottom: 0;
}
footer {
  text-align: center;
}
.footer-logo {
  width: 15vw;
  height: 6vh;
  margin: 7.8vh auto;
}
.footer-logo img {
  padding-top: 2vh;
}
.footer-links {
  height: 5vh;
  padding-top: 1.5vh;
}
.footer-links a {
  color: #777777;
  font-size: 0.9em;
  margin: 0 1.9vw;
  transition: 1s;
}
.footer-links a:hover {
  color: #000;
}
.copyright {
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;  
  color:  #777777;
  font-size: .84em;
  padding-top: 2vh;
}
.copyright p span {
  color: #000;
  font-weight: 600;
}
